In [1]:
# importing dependencies 
from splinter import Browser 
import pandas as pd
from bs4 import BeautifulSoup
import urllib.request as urllib
from webdriver_manager.chrome import ChromeDriverManager
import requests
import time

In [2]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [/Users/EricShaffer/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

# NASA Mars News

In [3]:
# scrape the mars news site to collect the most recent article title and paragraph
url = "https://redplanetscience.com/"
browser.visit(url)

In [4]:
# getting the html from site and scraping page into Soup
html = browser.html
soup = BeautifulSoup(html, "html.parser")

In [5]:
# collect news title and paragraph and save into variables

# saving the news articles section of page into a variable
news_articles = soup.find('div', id='news')

In [6]:
# scraping the fist articles title and putting it in a variable
first_title = news_articles.find_all('div', 'content_title')[0].text
print(first_title)

NASA's Mars Perseverance Rover Passes Flight Readiness Review

In [7]:
# scraping first articles paragraph and putting it in a variable
first_paragraph = news_articles.find_all('div', 'article_teaser_body')[0].text
print(first_paragraph)

​The agency's Mars 2020 mission has one more big prelaunch review – the Launch Readiness Review, on July 27.

# JPL Mars Space Images - Featured Image

In [8]:
# Finding current Featured Mars Image from website
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [9]:
# getting the html from mars images site and scraping page into BeautifulSoup
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [10]:
# find the image url and store it in a variable
image_url = soup.find(class_='headerimage fade-in')['src']
print(image_url)

image/featured/mars1.jpg

In [11]:
# bring the two variables together to create the url 
featured_image_url = url + image_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

# Mars Facts

In [12]:
# scrape webpage for the tables with pandas and turn into dataframes
url = "https://galaxyfacts-mars.com/"

In [13]:
tables = pd.read_html(url)
tables

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
# Get only the table containing information on mars
mars_table = tables[0]
mars_df = pd.DataFrame(mars_table)
mars_df

0  Mars - Earth Comparison             Mars            Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [22]:
# update column names
mars_df.columns = mars_df.iloc[0]
mars_df = mars_df.drop(mars_df.index[0])
mars_df

0 Mars - Earth Comparison             Mars            Earth
1               Diameter:         6,779 km        12,742 km
2                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                  Moons:                2                1
4      Distance from Sun:   227,943,824 km   149,598,262 km
5         Length of Year:   687 Earth days      365.24 days
6            Temperature:     -87 to -5 °C      -88 to 58°C

In [23]:
# convert to html table string
html_table = mars_df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>1</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [24]:
# strip unwanted new lines to clean up table
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>1</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>4</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>5</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>6</th>      <td>Temperature:</td>      <td>-87 to -5 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

# Mars Hemispheres

In [63]:
# url of site to get pictures from
url = "https://marshemispheres.com/"